.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
.navbar-nav mr-auto{
  text-decoration-color: rgba(226, 228, 230, 0.932);
}