<!-- <h1>page-not-found works!</h1> -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1 style="color:white;">
                    Oops!</h1>
                <h2 style="color: white;">
                    404 Not Found</h2>
                <div style="color:whitesmoke;" class="error-details"> 
                    Sorry, an error has occured, Requested page not found!
                </div>
                <button type="button" class="btn btn-primary" routerLink="/auth/login-template" style="color: antiquewhite;">Take Me at Login Page</button>                
            </div>
        </div>
    </div>
</div>