/* .gradient-custom-2 {
   

    background: rgba(244, 245, 244, 0.6);
  
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
  label {
    display: inline-block;
    color: rgb(3, 3, 3);
  }
  .text-muted {
    --bs-text-opacity: 1;
    color: #101214!important;
  }
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: #243b5e;
    color: white;
  }
  input.ng-invalid.ng-touched
{
    border: 1px solid red;
}
input.ng-valid.ng-touched
{
    border: 1px solid green;
}
.error
{
    color:red
} 

#Nodata{
    display: none;
} */


input.ng-invalid.ng-touched
{
    border: 1px solid red;
}
input.ng-valid.ng-touched
{
    border: 1px solid green;
}
.error
{
    color:red
} 

#Nodata{
    display: none;
}
